*{
    
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #ebeaea;
    
}
.container{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0px 100px 50px rgb(0, 0, 0,.1);
    display: flex;
    flex-direction: row;
}
.section1{
    width: 18%;
    justify-content: space-between;
    
}
.subsec1{
    width: 100%;
    height: 50%;
}

.subsec2{
    width: 100%;
    height: 50%;
    text-align: start;
    display: flex;
    align-items: end;
}
.item0{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}
.img{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.data-user{

    display: flex;
    flex-direction: column;
}
.data-user p{
    width: 100px;
    height: 20px;
    margin: -2px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.name{
    font-size: 12px;
    font-weight: bold;
}
.tpu{
    font-size: 10px;
}
.active{
    color: #000;
    font-weight: bold;
}
.item1{
    width: 100%;
    height: auto;
    margin: 1rem 0rem;
}
.item1 a{
    text-decoration: none;
}
.item2 {
    margin-bottom: 2rem;
}
.item2 a{
    text-decoration: none;

}
.inactive{
    color: #b3afaf;
}

.section2{
    width: 40%; 
    height: 100%;
    background-color: #fff;
    padding-right: 7rem;
    padding-top: 3.2rem;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.option{
    margin-left: 10px;
    width: 60px;
    height: auto;
    text-align: center;
}
.icon{
    margin: 0 auto;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon i{
    color: #000;
}
.option a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.option a:hover{
    color:#b3afaf ;
}

.shortcuts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.shor{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 0px 100px rgba(56, 9, 145, 0.3);
}

.shor a{
    margin-bottom: 1rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis ;
   
}
.shor p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    margin: 0;

}
.sh{
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 3rem 0rem 1rem 3rem;
}
.img-short{
    width: 40px;
    height: 40px;
    margin: 10px auto;
    border-radius: 50%;
}

.tarjeta{
    background: rgb(26,237,241);
    background: radial-gradient(circle, rgba(26,237,241,1) 0%, rgba(69,85,249,1) 100%);
    width: 90%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(69,85,249,.5) ;
    margin: 0 auto;
    position: relative;
}
.cuenta{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    font-weight: bold;
    color: #fff;
    font-size: 35px;
    margin-left: 2rem;
    
}
.tarjeta-data{
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: space-between;
    padding: 0rem 1rem;
}
.data{
    color: #fff;
}
.Id-tarjeta{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(22, 73, 151, 0.1);
    color: #fff;
    font-weight: bold;
}
.section3{
    background-color: #fff;
    padding: 2rem;
    width: 40%;
    height: 100%;
    box-shadow: -5px 0px 10px rgb(0, 0, 0,.1);
}

.section3 h5{
    font-size: 12px;
    color: #b3afaf;
}
.section3 .balance b{
    font-size: 35px;
}
.section3 .balance{
    font-size: 30px;
}
.btn-active{
    background-color: #e7e2e2;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
}
.btn-inactive{
    color: #b3afaf;
}
.section3 h3{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin: 2rem 1rem 0rem 0rem;
}
.sec-tran{
    display: flex;
    flex: row;
    justify-content: space-between;
}
.data-trans{
    display: flex;
    flex-direction: column;
}
.data-trans p{
    margin: 0;
}
.data-transaction{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}
.data-transaction p{
    margin-left: 1rem;
    padding: 0px;
}
.cost{
    font-weight: bold;

}
.img-tran{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}