@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kenia&family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#05022b ;
    display: flex;
 
}
.container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 2.7rem auto;
    padding: 0;
    width: 100%;
    height: 80%;
}
.section1{
    width: 60%;
    height: 100%;
    background-color: #f3efef;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.logo{
    width: 40%;
    height: auto;
}
.text{
    text-align: center;
    
}
.title{
    margin-top: 3rem;
    /* font-weight: bold; */
    font-size: 50px;
}
.section2{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    height: 100%;
    border-radius: 10px;
}
.bienvenida{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 3rem;
    font-family: 'Kenia', sans-serif;
}
.txt{
    font-size: 14px;
}
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.input{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

.input-text{
    position: relative;
    margin: .5rem 0rem;
    display: flex;
    flex-direction: column;
}
.inp{
    width: 100%;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.2);   
    width: 300px;
    border-radius: 40px;
    outline: none;
    background: transparent;
    padding-left: 1rem;
}

.inp:focus{
    border: 1px solid rgb(18, 8, 100);
   box-shadow:  -1px 1px 10px -4px rgba(0, 0, 0, 0.87);
   color: black;
}
.inp::placeholder{
    color: rgba(0, 0, 0, 0.4);
    padding-left: .5rem;
}

.bi{
    position: absolute;
    right: 20px;
    top: 65%;
    transform: translateY(-50%);
}
.botonn{
    border: none;
}
.btn-auto{
    text-align: center;
    width: 100%;

}
.btn{
    width: 300px;
    height: 2rem;
    border-radius: 40px;
    padding: .2rem;
    border: none;
    background-color: #05022b;
    color: #fff;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 1rem 0rem;
}

.label{
    text-align: start;
    padding-left: 1rem;
    font-size: 12px;
}
